body.dark {
    color:white;
    background-color: #49a04d;    
}

body {
  color: white;
  background-color: #66b96a;
}

h1 {
  font-family: coiny;
  font-weight: 200px;
  color: rgb(34, 28, 28);
}

button {
  border-radius: 10px;
  border: none;
  width: 250px;
  height: 35px;
  font-weight: 300;
  font-size: 14px;
  font-family: coiny;
  display: swap;
  color: #17a50a;
  background-color: #f5ec9d;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-left: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 820px;
  text-align: left;
  margin-left: 200px;
}

.title_name {
  font-family: cursive;
  font-weight: 400;
  font-size: 18px;
}

.text {
  font-size: 16px;
  font-family: monospace;
}

button:hover {
  background-color: #f7ea75;
  transition: background-color 0.3s ease; 
}

.teste {
  width: 100px;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.teste:hover {
  background-color: #f7ea75;
  transition: background-color 0.3s ease; 
}